.App {
  text-align: center;
  color: rgba(255, 255, 255, 0.753);
}

.Header {
  display: flex;
}

.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a2d5c;
  position: fixed;
  top: 0;
  z-index: 10;
}

.Icon {
  margin: 0 1rem 0 1rem;
  font-size: 1.3rem;
}

.FirstIcon {
  margin-left: 3rem;
  font-size: 1.8rem;
}

.LastIcon {
  margin-right: 3rem;
}

h2 {
  margin: 0.5rem;
}

.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BannerDiv {
  margin-top: 10rem;
  width: 40vw;
}

.GhibliLogo {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
}

.InputContainer {
  margin-top: 5rem;
}

.SearchInput {
  appearance: none;
  background-color: #3a2d5c;
  border: 5px solid #3a2d5c;
  border-radius: 0.6rem;
  padding: 0.4rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.07em;
  color: rgba(255, 255, 255, 0.753);
  max-width: 60vw;
}

.SearchInput:focus {
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.753);
  font-weight: bold;
}

.FilmsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.FilmCard {
  width: 20rem;
  height: 30rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition:
    0.7s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    box-shadow 0.7s;
}

.FilmCard:hover {
  transition-timing-function: ease-in-out;
  -moz-box-shadow: 13px 13px 0 0 #3a2d5c;
  -webkit-box-shadow: 13px 13px 0 0 #3a2d5c;
  box-shadow: 13px 13px 0 0 #3a2d5c;
  transform: scale(1.03);
}

.CircleArrow {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.753);
}

.FilmDescription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.DetailPage {
  background: #121212;
  color: rgba(255, 255, 255, 0.753);
}

.DetailCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 5rem 0;
}

.FilmBanner {
  width: 50vw;
}

.FilmImage {
  max-width: 100%;
  transition:
    0.7s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    box-shadow 0.7s;
  margin-bottom: 1.3rem;
}

.FilmImage:hover {
  transition-timing-function: ease-in-out;
  -moz-box-shadow: 20px 20px 0 0 #3a2d5c;
  -webkit-box-shadow: 20px 20px 0 0 #3a2d5c;
  box-shadow: 20px 20px 0 0 #3a2d5c;
  transform: scale(1.03);
}

.InfoContainer div {
  background: #3a2d5c;
  font-weight: bold;
}

.MovieInfo {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.MovieInfo:hover {
  background: rgba(0, 0, 0, 0.4);
}

.MovieInfo p {
  margin: 0.3rem 1rem 0.3rem 1rem;
  font-size: 1.2rem;
}

.Synopsis {
  width: 50vw;
  text-align: justify;
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: 700px) {
  h2 {
    font-size: 1rem;
  }

  .Icon {
    margin: 0.7rem;
    font-size: 1rem;
  }

  .BannerDiv {
    margin-top: 7rem;
    width: 60vw;
  }

  .FilmBanner {
    width: 80vw;
  }

  .MovieInfo {
    width: 80vw;
  }

  .Synopsis {
    width: 80vw;
  }
}
